*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --font1: 'Fraunces', serif;
    --font2: 'Barlow', sans-serif;
}

html {
    height: 100%;
    min-width: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: var(--font2);
    min-height: 100vh;
    min-width: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    padding: 5rem 0;
    width: 90%;
    margin: 0 auto;
    max-width: 75rem;
}

.hero{
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
}

.nav {
    padding: 1.875rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

.nav__logo {
    margin-left: .3rem;
    margin-top: .1rem;
}

.nav__hamburguer {
    margin-right: .3rem;
    margin-top: .35rem;
    opacity: .5;
}

.nav__icon {
    opacity: .8;
}

.nav__links{
    position: fixed;
    top: 6.7rem;
    left: 0;
    right: 0;
    width: 87.5%;
    margin: 0 auto;
    padding: 10.8vw 1em;
    background-color: #fff;
    display: grid;
    gap: 9.2vw;
    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;
    z-index: 100;
}

.nav__links:target{
    pointer-events: unset;
    opacity: 1;
}

.nav__links::before{
    content: "";
    position: absolute;
    border-top: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-right: 1rem solid #fff;
    border-bottom: 1rem solid #fff;
    top: -1.55rem;
    right: 0;
}

.nav__link{
    justify-self: center;
    text-decoration: none;
    color: var(--Dark-desaturated-cyan);
    font-size: 1.2rem;
    font-weight: 500;
}

.nav__link--cta{
    color: var(--Dark-blue);
    background-color: var(--Yellow);
    padding: 1.1rem 2.1rem;
    border-radius: 30px;
    text-align: center;
    margin-top: -.1rem;
    font-weight: 700;
    font-size: 1.08rem;
}

.hero__main{
    height: 28.125rem;
    color: #fff;
    text-align: center;
}

.hero__title{
    font-size: 2.5rem;
    font-family: var(--font1);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
    bottom: 1.4rem;
    overflow-wrap: break-word;
    margin: 0 auto 1.55rem;
    line-height: 1.22;
}

.services{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,15.625rem 25rem);
}

.services__image{
    background-image: url(../images/mobile/image-transform.jpg);
    background-size: cover;
    background-position: center;
    height: 125%;
}

.services__texts{
    padding: 1rem 1.4rem;
    place-self: center;
    text-align: center;
    --color: hsla(51, 100%, 49%, 0.263);
    margin-top: 9.4rem;
}

.services__title{
    font-size: 2.02rem;
    font-family: var(--font1);
    color: var(--Very-dark-desaturated-blue);
    font-weight: 800;
    line-height: 1.2;
}

.services__paragraph{
    line-height: 1.7;
    color: var(--Very-dark-grayish-blue);
    margin: 1.52rem 0 1.5rem;
    font-size: 1.1rem;
}

.services__cta{
    color: var(--Very-dark-desaturated-blue);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 800;
    word-spacing: .2rem;

    position: relative;
    top: .6rem;
    right: .1rem;
    cursor: pointer;
}

.services__cta::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 50%;
    border-radius: 2em;
    z-index: -1;
    background-color: var(--color);
    top: .8rem;
    right: 0;
    left: 0;
    left: -.3rem;
}

.service__image--2{
    background-image: url(../images/mobile/image-stand-out.jpg);
    margin-top: 6.3rem;
}

.services__texts--2{
    --color: hsla(7, 99%, 70%, 0.31);
    margin-top: 8.9rem;
    padding-top: 13.9rem;
}

.services__title--2 {
    line-height: 1.2;
}

.services__paragraph--2 {
    margin: 1.5rem .45rem 1.5rem;
}

.services__cta--2 {
    position: relative;
}

.services__cta--2::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 50%;
    border-radius: 2em;
    z-index: -1;
    background-color: hsla(7, 99%, 70%, 0.401);
    top: .8rem;
    right: 0;
    left: 0;
    left: -.3rem;
}

.jobs{
    display: grid;
    grid-auto-rows: 37.5rem;
    position: relative;
    top: 10.5rem;
}

.jobs__section{
    display: grid;
    align-content: end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/mobile/image-graphic-design.jpg);
    padding: 2.5rem 1.5rem;
    text-align: center;
    color: var(--Dark-desaturated-cyan);
    position: relative;
    top: 2rem;
}

.jobs__section--second{
    color: var(--Dark-blue);
    background-image: url(../images/mobile/image-photography.jpg);
    padding: 2.5rem 1rem;
}

.jobs__name{
    font-family: var(--font1);
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: -2.5rem;
}

.jobs__paragraph{
    line-height: 1.75;
    margin-top: 1.3rem;
    font-size: .99rem;
    margin-bottom: 1.16rem;
    font-weight: 600;
}

.jobs__name--2 {
    margin-top: -2.44rem;
    position: relative;
    right: .385rem;
    letter-spacing: .009rem;
}

.testimonials{
    text-align: center;
    align-content: end;
    height: 100%;
}

.testimonials__title{
    font-size: .95rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    font-family: var(--font1);
    margin-top: 16.6rem;
}

.testimonials__container{
    padding: 5.313rem 1.25rem 1.15rem;
    display: grid;
    gap: 6rem;
    position: relative;
    bottom: 1.3rem;
    right: .03rem;
}

.testimonials__img{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials__paragraph{
    color: var(--Dark-blue);
    line-height: 1.8;
    margin: 1.8rem 1.045rem;
    font-size: 1.12rem;
    font-weight: 600;
}

.testimonials__name{
    color: var(--Very-dark-desaturated-blueDark-blue);
    font-family: var(--font1);
    margin-bottom: .8rem;
    padding-top: .25rem;
    font-weight: 800;
    letter-spacing: -.03rem;
}

.testimonials__job{
    color: var(--Grayish-blue);
    font-size: .882rem;
}

.testimonials__item--2 {
    position: relative;
    bottom: 1.6rem;
}

.testimonials__paragraph--2 {
    margin: 1.8rem .3rem;
    position: relative;
    bottom: .1rem;
    line-height: 1.8;
    font-size: 1.1rem;
}

.testimonials__item--3 {
    position: relative;
    bottom: 3.2rem;
}

.testimonials__paragraph--3 {
    margin: 1.8rem .2rem;
    position: relative;
    bottom: .1rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery__image{
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position: center;
}

.gallery__image:nth-of-type(2){
    background-image: url(../images/mobile/image-gallery-orange.jpg);
}

.gallery__image:nth-of-type(3){
    background-image: url(../images/mobile/image-gallery-cone.jpg);
}

.gallery__image:nth-of-type(4){
    background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

.footer{
    background-color: #90d4c5;
    text-align: center;
    height: 100%;
    bottom: 0;
}

.footer__logo{
    width: 10.625rem;
    position: relative;
    bottom: 1.03rem;
    right: .4rem;
}

.footer__nav{
    width: 90%;
    max-width: 25rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer__link{
    color: var(--dark-moderate-cyan);
    text-decoration: none;
    padding: 1.4rem 0 2.9rem;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: -.05rem;
}

.footer__social{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    position: relative;
    top: 2.7rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.attribution{
    font-size: clamp(.7rem, 3.6vw, 1rem);
    background-color: #90d4c5;
    color: var(--dark-moderate-cyan);
    font-weight: 800;
    position: relative;
    bottom: 0;
    top: 100;
}

.attribution a {
    color: var(--Dark-blue);
    font-weight: 600;
}

@media (min-width: 48rem){
    
    .hero{
        background-image: url(../images/desktop/image-header.jpg);
    }

    .nav {
        height: auto;
        margin-left: 2.5rem;
        width: 100%;
        max-width: 100%;
    }

    .nav__logo {
        margin-left: 0;
        margin-top: .35rem;
        width: 100%;
        width: 10.7rem;
    }
    
    .nav__hamburguer{
        display: none;
    }

    .nav__links{
        background-color: unset;
        position: unset;
        width: unset;
        margin: unset;
        opacity: 1;
        display: grid;
        grid-auto-flow: column;
        gap: 3.2rem;
        align-items: center;
        pointer-events: unset;
        padding: 0;
        margin-right: 5rem;
        margin-top: .35rem;
    }

    .nav__links:target{
        pointer-events: unset;
        opacity: 1;
    }

    .nav__links::before{
        display: none;
    }

    .nav__link{
        text-decoration: none;
        color: var(--White);
        font-size: 1.1rem;
        font-weight: 400;
    }

    .nav__link--cta{
        color: var(--Dark-blue);
        background-color: var(--White);
        padding: 1.2rem 1.85rem;
        border-radius: 2em;
        font-family: var(--font1);
        font-size: .955rem;
        font-weight: 900;
        margin-right: .3rem;
        letter-spacing: -.001rem;
    }
    
    .nav__link--cta:hover {
        color: white;
        background-color: transparent;
        background-color: rgb(140, 205, 231);
    }

    .hero__main{
        height: 100%;
        height: auto;
        height: 42.6rem;
    }

    .hero__title{
        font-size: 3.42rem;
        font-family: var(--font1);
        letter-spacing: .74rem;
        bottom: 0;
        overflow-wrap: break-word;
        margin: 0 auto 1.55rem auto;
        font-weight: 800;
    }

    .hero__arrow {
        margin-top: 4.3rem;
    }
    
    .services{
        grid-template-rows: repeat(2,31.125rem);
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "text1 img1"
        "img2 text2";
        max-width: 100%;
    }
    
    .services__image{
        background-image: url(../images/desktop/image-transform.jpg);
        grid-area: img1;
        background-size: contain;
        background-size: cover;
        height: 120.1%;
    }
    
    .services__texts{
        text-align: start;
        grid-area: text1;
        padding: 0 7rem 2rem 0rem;
        padding: 0 7vw 2rem 0rem;
        margin-top: 6.2rem;
        line-height: .3rem;
        margin-left: 12vw;
    }

    .services__title{
        font-size: 2.53rem;
        margin-left: -.2rem;
        font-weight: 900;
    }

    .services__paragraph{
        margin: 2rem 0 2rem;
        font-size: 1.1rem;
    }

    .services__cta{
        top: 1.15rem;
        right: 0;
        left: .3rem;
    }

    .services__cta:hover::before {
        background-color: hsla(51, 100%, 49%, 0.719);
    }
    
    .services__texts--2{
        grid-area: text2;
        margin-top: 5.2rem;
        padding-top: 13.9rem;
        padding-left: 7rem;
        padding-left: 0rem;
        margin-left: 7rem;
    }

    .services__cta--2:hover::before {
        background-color: hsla(7, 99%, 70%, 0.873);
    }
    
    .service__image--2{
        background-image: url(../images/desktop/image-stand-out.jpg);
        grid-area: img2;
    }

    .jobs{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 37.5rem;
    }
    
    .jobs__section{
        background-image: url(../images/desktop/image-graphic-design.jpg);
    }
    
    .jobs__section--second{
        background-image: url(../images/desktop/image-photography.jpg);
    }

    .jobs__name{
        margin-top: -3.2rem;
    }

    .jobs__paragraph{
        margin-top: .5rem;
        margin-bottom: 1.16rem;
        padding: 0 12vw;
        font-weight: 500;
    }

    .jobs__name--2 {
        right: 0rem;
    }

    .testimonials{
        text-align: center;
        align-content: end;
        height: 100%;
        margin-top: 6rem;
    }

    .testimonials__title{
        font-size: 1.3rem;
    }
    
    .testimonials__container{
        grid-template-columns: repeat(3, 1fr);
        gap: 0rem;
        padding: 6.5rem 10vw 9.3rem;
        justify-items: center;
    }

    .testimonials__item {
        position: unset;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .testimonials__paragraph{
        line-height: 1.8;
        margin: 3.4rem 1.045rem 3.99rem .5rem;
    }
    
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 15.625rem;
        grid-template-rows: 28rem;
    }
    
    .gallery__image{
        aspect-ratio: unset;
        background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
    }
    
    .gallery__image:nth-of-type(2){
        background-image: url(../images/desktop/image-gallery-orange.jpg);
    }
    
    .gallery__image:nth-of-type(3){
        background-image: url(../images/desktop/image-gallery-cone.jpg);
    }
    
    .gallery__image:nth-of-type(4){
        background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
    }

    .footer__logo{
    bottom: .6rem;
    }

    .footer__nav{
        width: 24%;
        margin: .5rem auto 0;
        min-width: 19rem;
    }

    .footer__link{
        color: var(--dark-moderate-cyan);
        text-decoration: none;
        padding: 1.4rem 0 3rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .footer__link:hover {
        color: #fff;
    }

.footer__icon:hover {
    fill: #fff;
}

    .footer__icon:hover {
        fill: #fff;
    }

    .attribution {
        font-size: .8rem;
    }

    @media (max-width: 81.25rem) {

        .jobs__paragraph{
            margin-bottom: 0;
            padding: 0;
        }
    }
}

/* ===== Respeto por usuarios con "reduced motion" ===== */
@media (prefers-reduced-motion: reduce) {
  /* Desactivar animaciones y transiciones globalmente */
  *,
  *::before,
  *::after {
    animation: none;
    transition: none;
    scroll-behavior: auto; /* evita desplazamientos suaves */
  }
}
