*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --font1: 'Fraunces', serif;
    --font2: 'Barlow', sans-serif;
}

html {
    height: 100%;
    /* width: 100%; */
    min-width: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: var(--font2);
    min-height: 100vh;
    /* width: 100%; */
    min-width: 0;
    max-width: 100%;
    overflow-x: hidden;
    /* position: relative; */
}

/* body:target .nav__links {
    opacity: 0;
} */

.container{
    padding: 80px 0;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.hero{
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    /* max-width:100%; height:auto; display:block; */
}

.nav{
    padding: 30px 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

.nav__logo {
    margin-left: .3rem;
    margin-top: .1rem;
}

.nav__hamburguer {
    margin-right: .3rem;
    margin-top: .35rem;
}

.nav__icon {
    opacity: .8;
}

.nav__links{
    position: fixed;
    /* position: relative; */
    /* position: absolute; */
    /* top: 80px; */
    top: 6.7rem;
    left: 0;
    right: 0;
    width: 87.5%;
    margin: 0 auto;
    /* padding: 2.5em 1em; */
    padding: 11vw 1em;
    background-color: #fff;

    display: grid;
    /* gap: 1em; */
    gap: 2.1em;
    gap: 8.77vw;

    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;
    z-index: 100;
}

.nav__links:target{
    pointer-events: unset;
    opacity: 1;
}

.nav__links::before{
    content: "";
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid #fff;
    top: -20px;
    right: 0;
}

.nav__link{
    justify-self: center;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-size: 1.2rem;
}

.nav__link--cta{
    color: var(--Dark-blue);
    background-color: var(--Yellow);
    padding: 1rem 2.3rem;
    border-radius: 30px;
    text-align: center;
    /* margin-top: .01rem; */
    margin-top: -.1rem;
    /* margin-bottom: .1rem; */
}

.hero__main{
    height: 450px;
    color: #fff;
    text-align: center;
}

.hero__title{
    font-size: 2.5rem;
    font-family: var(--font1);
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 1.55rem;
    /* margin-top: -2rem; */
    position: relative;
    bottom: 1.5rem;
    /* max-width: calc(100% - 1rem); */
    overflow-wrap: break-word;
    /* text-align: center; */
    margin: 0 auto 1.55rem auto;
    /* padding-right: .3rem; */
}

/* .hero__arrow { */
    /* margin-top: .5rem; */
/* } */

/* main { */
    /* height: 100%; */
    /* min-height: 100%; */
    /* height: 100vh; */
    /* padding-bottom: 20rem; */
    /* position: relative; */
/* } */

.services{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,250px 400px);
}

.services__image{
    background-image: url(../images/mobile/image-transform.jpg);
    background-size: cover;
    background-position: center;
    height: 125%;
    /* max-width:100%; height:auto; display:block; */
}

.services__texts{
    padding: 1rem 1.4rem;
    place-self: center;
    text-align: center;
    --color: hsla(51, 100%, 49%, 0.263);
    margin-top: 9.4rem;
}

.services__title{
    font-size: 2.02rem;
    font-family: var(--font1);
    color: var(--Very-dark-desaturated-blue);
    font-weight: 800;
    /* max-width: calc(100% - 2rem);
    overflow-wrap: break-word; */
}

.services__paragraph{
    line-height: 1.7;
    color: var(--Very-dark-grayish-blue);
    margin: 1.4rem 0 1.5rem;
    /* width: 10%; */
    font-size: 1.1rem;
    /* max-width: calc(100% - 2rem);
    overflow-wrap: break-word; */
}

.services__cta{
    color: var(--Very-dark-desaturated-blue);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 800;
    word-spacing: .2rem;
    /* letter-spacing: 1rem; */

    position: relative;
    /* margin-top: 4rem; */
    /* padding-top: 4rem; */
    top: .6rem;
    right: .1rem;
}

.services__cta::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    border-radius: 2em;
    z-index: -1;
    background-color: var(--color);
}

.service__image--2{
    background-image: url(../images/mobile/image-stand-out.jpg);
    /* padding-top: 20rem; */
    margin-top: 6.3rem;
    /* max-width:100%; height:auto; display:block; */
}

.services__texts--2{
    --color: hsl(7, 99%, 70%, 0.267);
    margin-top: 8.9rem;
    padding-top: 13.9rem;
    /* padding-bottom: 10rem; */
    /* margin-bottom: 10rem; */
    /* max-width: calc(100% - 2rem);
    overflow-wrap: break-word; */
}

.services__title--2 {
    line-height: 1.2;
}

.services__paragraph--2 {
    margin: 1.5rem .45rem 1.5rem;
    /* font-size: ; */
}

.services__cta--2 {
    /* margin-bottom: 4rem; */
    /* margin-top: 10.2rem; */
    position: relative;
    /* top: 10.3rem; */
}

.jobs{
    display: grid;
    /* grid-auto-rows: 550px; */
    grid-auto-rows: 37.5rem;
    position: relative;
    top: 10.5rem;
}

.jobs__section{
    display: grid;
    align-content: end;
    background-position: center;
    background-size: cover;
    /* background-size: contain; */
    /* background-size: 25rem; */
    background-repeat: no-repeat;
    background-image: url(../images/mobile/image-graphic-design.jpg);
    padding: 2.5rem 1.5rem;
    /* padding: 2.5rem .95rem 2.5rem; */
    text-align: center;
    color: var(--Dark-desaturated-cyan);
    position: relative;
    top: 2rem;
    /* height: 50rem; */
    /* max-width:100%; height:auto; display:block; */
}

.jobs__section--second{
    color: var(--Dark-blue);
    background-image: url(../images/mobile/image-photography.jpg);
    padding: 2.5rem 1rem;
    /* max-width:100%; height:auto; display:block; */
}

.jobs__name{
    font-family: var(--font1);
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: -2.5rem;
    /* margin-bottom: .05rem; */
    /* position: relative; */
    /* top: 3.22rem; */
    /* max-width: calc(100% - 2rem);
    overflow-wrap: break-word; */
}

.jobs__paragraph{
    line-height: 1.75;
    margin-top: 1.3rem;
    font-size: .99rem;
    margin-bottom: 1.16rem;
    /* max-width: calc(100% - 2rem);
    overflow-wrap: break-word; */
}

.jobs__name--2 {
    margin-top: -2.54rem;
    /* font-size: 1.75rem; */
    position: relative;
    right: .385rem;
    letter-spacing: .009rem;
}

/* .jobs__paragraph--2 {
    
} */

.testimonials{
    text-align: center;
    height: 91.1rem;
    align-content: end;
    /* overflow-y: visible;
    overflow-y: auto;
    overflow-y: clip; */
    height: 100%;
}

.testimonials__title{
    font-size: .95rem;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    font-family: var(--font1);
    /* margin-top: 20px; */
    margin-top: 16.5rem;
    /* margin-top: -5rem; */
    /* position: relative; */
    /* bottom: 3.2rem; */
    /* max-width: calc(100% - 2rem);
    overflow-wrap: break-word; */
}

.testimonials__container{
    padding: 85px 20px 1.15rem;
    display: grid;
    gap: 6rem;
    position: relative;
    bottom: 1.3rem;
    right: .03rem;
}

.testimonials__img{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials__paragraph{
    color: var(--Dark-blue);
    line-height: 1.8;
    margin: 1.8rem 1.045rem;
    /* max-width: calc(100% - 2rem);
    overflow-wrap: break-word; */
    font-size: 1.12rem;
}

.testimonials__name{
    color: var(--Very-dark-desaturated-blueDark-blue);
    font-family: var(--font1);
    margin-bottom: .7rem;
    /* margin-top: 1.5rem; */
    padding-top: .15rem;
    font-weight: 800;
    letter-spacing: -.03rem;
}

.testimonials__job{
    color: var(--Grayish-blue);
    font-size: .882rem;
}

.testimonials__item--2 {
    position: relative;
    bottom: 1.6rem;
}

.testimonials__paragraph--2 {
    margin: 1.8rem .3rem;
    position: relative;
    bottom: .1rem;
    line-height: 1.8;
    font-size: 1.1rem;
}

.testimonials__item--3 {
    position: relative;
    bottom: 3.2rem;
}

.testimonials__paragraph--3 {
    margin: 1.8rem .2rem;
    position: relative;
    bottom: .1rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: block; */
}

.gallery__image{
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position: center;
    /* max-width:100%; height:auto; display:block; */
}

.gallery__image:nth-of-type(2){
    background-image: url(../images/mobile/image-gallery-orange.jpg);
}

.gallery__image:nth-of-type(3){
    background-image: url(../images/mobile/image-gallery-cone.jpg);
}

.gallery__image:nth-of-type(4){
    background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

.footer{
    background-color: #90d4c5;
    text-align: center;
    height: 100%;
    /* height: 100%; */
    /* position: absolute;
    bottom: 0; */
    padding-bottom: 5rem;
}

.footer__logo{
    width: 170px;
    position: relative;
    bottom: 1.03rem;
    right: .4rem;
}

.footer__nav{
    width: 85%;
    max-width: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer__link{
    color: var(--dark-moderate-cyan);
    text-decoration: none;
    padding: 1.5rem 0 3rem;
    font-size: 1.1rem;
}

.footer__social{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    position: relative;
    /* bottom: 3rem; */
    top: 2.7rem;
}

.attribution{
    /* font-size: .85rem; */
    /* font-size: 85%; */
    /* font-size: 3.6vw; */
    font-size: clamp(.7rem, 3.6vw, 1rem);
    background-color: #90d4c5;
}

/* img, picture, svg, video { max-width:100%; height:auto; display:block; } */

@media (min-width: 768px){
    
    .hero{
        background-image: url(../images/desktop/image-header.jpg);
    }
    
    .nav__hamburguer{
        display: none;
    }
    
    .nav__links:target{
        pointer-events: unset;
        opacity: 1;
    }

    .nav__links{
        background-color: unset;
        position: unset;
        width: unset;
        margin: unset;
        opacity: 1;
        display: grid;
        grid-auto-flow: column;
        gap: 1.2rem;
        align-items: center;
        pointer-events: unset;
    }

    .nav__link{
        text-decoration: none;
        color: var(--White);
    }

    .nav__link--cta{
        color: var(--Dark-blue);
        background-color: var(--White);
        padding: 1em 1.5em;
        border-radius: 2em;
        font-family: var(--font1);
    }
    
    .services{
        grid-template-rows: repeat(2,500px);
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "text1 img1"
        "img2 text2";
    }
    
    .services__image{
        background-image: url(../images/desktop/image-transform.jpg);
        grid-area: img1;
    }
    
    .services__texts{
    
        text-align: start;
        grid-area: text1;
        padding: 2rem 3rem;
        
    }
    
    .services__texts--2{
        grid-area: text2;
    }
    
    .service__image--2{
        background-image: url(../images/desktop/image-stand-out.jpg);
        grid-area: img2;
    }

    .jobs{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px;
    }
    
    .jobs__section{
        background-image: url(../images/desktop/image-graphic-design.jpg);
    }
    
    .jobs__section--second{
        background-image: url(../images/desktop/image-photography.jpg);
    }

    .testimonials{
        text-align: center;
    
    }
    
    .testimonials__container{
        grid-template-columns: repeat(3, 1fr);
        gap: 6rem;
    }
    
    .testimonials__paragraph{
        margin: 2.5rem 0;
    }
    
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 250px;
    }
    
    .gallery__image{
        aspect-ratio: unset;
        background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
    }
    
    .gallery__image:nth-of-type(2){
        background-image: url(../images/desktop/image-gallery-orange.jpg);
    }
    
    .gallery__image:nth-of-type(3){
        background-image: url(../images/desktop/image-gallery-cone.jpg);
    }
    
    .gallery__image:nth-of-type(4){
        background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
    }

    .footer__link{
        color: var(--dark-moderate-cyan);
        text-decoration: none;
        padding: rem 0 5rem;
    }
}